<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994855111659-n2ig9dgmkqeaj9qiao2sm7k1ff3o0pri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994855111659-n2ig9dgmkqeaj9qiao2sm7k1ff3o0pri</string>
	<key>API_KEY</key>
	<string>AIzaSyDa0dmLROw7KakMP5Q2_NyzOS4vKnyFpa0</string>
	<key>GCM_SENDER_ID</key>
	<string>994855111659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sannideveloper.MercariClone</string>
	<key>PROJECT_ID</key>
	<string>mercariclone-35984</string>
	<key>STORAGE_BUCKET</key>
	<string>mercariclone-35984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994855111659:ios:3bb6392669ae87b2b9a7ae</string>
</dict>
</plist>